---
title:  "Archive
permalink: archive/
---


<section id="archive">
    <h3>Most recent posts</h3>
    {% for post in site.posts %}<!-- For loopp for catagories -->

      {% unless post.next %}
        <ul class="this">
      {% else %} <!-- Capture the year and compare them -->
          {% capture year %} {{ post.date | date: '%Y' }} {% endcapture %}
          {% capture nyear %} {{ post.next.date | date: '%Y' }} {% endcapture %}
          {% if year != nyear %}
            </ul>
            <h3> {{ post.date | date: '%Y' }} </h3> <!-- If years don't match, create a new heading-->
            <ul class=past>
          {% endif %}
      {% endunless %}

      <li><time>{{ post.date | date: "%d %b" }} </time><a href="{{ post.url }}">{{ post.title }}</a></li><!-- List out the date and the titles -->

    {% endfor %}
    </ul>
</section>
