<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <i class="fa fa-arrow-left"></i> Home</a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about"><i class="fa fa-cog"></i> About</a>
        {% endif %}
    {% endif %}
    <a href="{{site.baseurl}}feed.xml"><i class="fa fa-rss"></i> RSS</a>
    <a class="cta" href="{{ site.baseurl }}feed.xml"><i class="fa fa-envelope-o"></i> Subscribe</a>
</nav>
